h1{
    color:blue;
    text-decoration:underline;
    background-color:gold
}

h2{
    color:purple;
    font-weight:bold;
    font-size:25px;
    border:solid orange

}

#p1{
    background-color:gray;
    color:white;
    border:black;
    width:50%;
    height:200px
}

#p2{
    background-color:black;
    border: lightgreen;
    font-size:20px;
    color:white;
    font-family:'Roboto'
}

.para{
    color:lightgreen
}

#yoshua{
    background-color:beige;
    font-style:italic;
    font-size:25px;
    font-family:Arial
}

ul{
    list-style:none;
}


.fc:link{
    color:blue;
}
.fc:visited{
    color:black;
}
.fc:hover{
    color:purple;
}
.fc:active{
    color:hotpink;
}